@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
.loginForm {
  display: flex;
  justify-content: flex-start;
}

#responsive-admin-menu {
  float: left;
  width: 200px;
  background-color: #9b2020;
  height: 100%;
  position: fixed;
  overflow: hidden;
  left: 0px;
  min-height: 500px;
}

#content-wrapper {
  width: auto;
  margin-left: 200px;
  background-color: #ffffff;
  padding: 15px;
}

#responsive-admin-menu #responsive-menu {
  height: 50px;
  display: none;
  line-height: 50px;
  cursor: pointer;
  color: #ffffff;
  text-indent: 10px;
}

#responsive-admin-menu #responsive-menu .menuicon {
  color: #ffffff;
  font-size: 24px;
  position: absolute;
  right: 10px;
  top: 0px;
}

#responsive-admin-menu #logo {
  background-position: -0px -36px;
  width: 174px;
  height: 40px;
  margin: 10px;
  background: url('https://assets.codepen.io/assets/footer/codepen-logo-midgray.svg') no-repeat;
  -webkit-background-size: 146.66667px 25.83333px;
  background-size: 146.66667px 25.83333px;
}

/* Menu Styles */

#responsive-admin-menu #menu {
  width: 100%;
}

#responsive-admin-menu #menu a {
  border-bottom: 1px dotted #52535a;
  font-size: 14px;
  text-decoration: none;
  display: block;
  padding: 12px;
  color: #FFFFFF;
  position: relative;
  font-weight: 400;
  overflow: hidden;
}

#responsive-admin-menu #menu a:hover {
  color: #52535a;
  background-color: #fcfcfc;
}

#responsive-admin-menu #menu i {
  width: 16px;
  padding-right: 4px;
}

#responsive-admin-menu #menu div {
  display: none;
  width: 100%;
  background-color: #5c5d64;
  overflow: hidden;
}

#responsive-admin-menu #menu div a {
  color: #c0c0c0;
}

#responsive-admin-menu #menu div a:hover {
  color: #888888;
}

#responsive-admin-menu #menu a.submenu:before {
  font-family: FontAwesome;
  content: "\f054";
}

#responsive-admin-menu #menu a.downarrow:before {
  font-family: FontAwesome;
  content: "\f078";
}

#responsive-admin-menu #menu a.submenu:before {
  font-size: 14px;
  position: absolute;
  right: 15px;
  top: 17px;
}

/* Menu Styles */

@media screen and (max-width: 960px) {
  #responsive-admin-menu #responsive-menu {
    display: none;
  }
  #responsive-admin-menu #menu a span {
    display: inline-block;
  }
}

@media screen and (max-width: 800px) {
  #responsive-admin-menu #menu a span {
    display: none;
  }
  #responsive-admin-menu {
    float: left;
    width: 40px;
    position: relative;
  }
  #responsive-admin-menu {
    height: 100%;
  }
  #content-wrapper {
    margin-left: 40px;
  }
  #responsive-admin-menu #menu a.submenu:before {
    font-size: 6px;
    right: 5px;
  }
  #responsive-admin-menu #logo {
    background-position: -0px -0px;
    width: 29px;
    height: 26px;
    margin: 10px 10px 10px 5px;
  }
}

.userdashall {
  height: 100vh;
}

.userdashall1 {
  height: 10%;
  display: flex;
  width: 100vw;
  margin-bottom: 10%;
  justify-content: space-between;
  align-items: center;
  background: #881414;
  color: white;
  position: fixed;
}

.dropmenu {
  cursor: pointer;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  margin-right: 20px;
}

.drop-menu-item {
  list-style: none;
}

.dropmenu:hover .dropmenumenu {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 20px;
}

.dropmenumenu {
  display: none;
  padding: 0;
  margin: 0;
  padding: 20px 10px;
  background: #881414;
  color: white;
}

.toid {
  height: 10%;
}

.userdashall2 {
  height: 90%;
}

.bg-1 {}

@media screen and (max-width: 480px) {
  #responsive-admin-menu {
    min-height: 50px;
    float: left;
    width: 100%;
    background-color: black;
    height: auto;
    position: static;
    top: 0;
  }
  #responsive-admin-menu #logo {
    display: none;
  }
  #responsive-admin-menu #menu a span {
    display: inline-block;
  }
  #content-wrapper {
    margin-left: 0;
    padding-top: 60px;
  }
  #responsive-admin-menu #responsive-menu {
    display: block;
  }
  #responsive-admin-menu #menu {
    display: none;
  }
  #responsive-admin-menu #menu a {
    color: #FFFFFF;
  }
  #responsive-admin-menu #menu a.submenu:before {
    font-size: 14px;
    right: 15px;
  }
}

body {
  padding: 0;
  margin: 0;
}

.loginIntroImg {
  height: 100vh;
  width: 35vw;
}

.loginFormIntro {
  background: url(./resourses/bg.png);
  background-size: 130%;
  background-repeat: no-repeat;
  width: 65vw;
  padding-top: 130px;
  height: 100vh;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.emailinput {
  padding: 5px 10px;
  width: 300px;
  border-radius: 5px;
  outline: none;
  border: 2px solid black;
}

.loginFormIntro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logoLogin {
  background: #EC1D23;
  color: white;
  padding: 0px 10px;
  font-weight: 900;
  transition: all ease 0.5s;
}

.hoods {
  font-weight: 500;
}

.logoLogin:hover {
  color: rgb(255, 225, 225);
  cursor: pointer;
}

.EmailpasswordInput {
  width: 280px;
  margin: 10px 0;
  height: 40px;
  padding: 10px 20px;
  padding-left: 40px;
}

.formLog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginTitle {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 30px;
  letter-spacing: 6px;
  word-spacing: 6px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}

.EmailpasswordInputContainer {
  position: relative;
  width: 280px;
}

.nameEmailpasswordInputContainer {
  position: absolute;
  left: 0;
  padding: 8px;
  top: 10px;
  color: white;
  background: black;
}

.forgetPassword {
  color: rgba(69, 69, 255, 0.575);
  transition: ease all 500ms;
  cursor: pointer;
}

.forgetPassword:hover {
  color: rgba(0, 0, 0, 0.808);
}

.loginButton {
  padding: 5px 50px;
  border-radius: 0;
  border: rgba(0, 0, 0, 0.219) 1px solid;
  background: #EC1D23;
  outline: none;
}

.signupFromLogin {
  color: rgb(0, 0, 0);
}

.signupFromLogin:hover {
  color: black;
}

.agreeRegister {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.agreeRegisterText {
  margin: 0 0 0 5px;
}

.agreeRegisterInput {
  padding: 10px;
}

.menu-confirm-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("./resourses/bg-c.png");
  height: 100vh;
}

.menu-confirm-btn {
  padding: 5px 50px;
  border-radius: 0;
  border: rgba(0, 0, 0, 0.219) 1px solid;
  background: #EC1D23;
  outline: none;
}

.menu-confirm {
  display: flex;
  background: rgba(255, 255, 255, 0.753);
  border: 1px rgba(0, 0, 0, 0.384) solid;
  padding: 35px 100px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu-confirm-para {
  text-align: center;
  font-size: 22px;
}

.menu-confirm-title2 {
  font-size: 18px;
  color: #EC1D23;
}

.headerdiv {
  position: absolute;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  height: 140px;
}

.header {
  background: #F8F9FA;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.table1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.table2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.table1Item {
  height: 50px;
  margin: 0;
  width: 16%;
  text-align: center;
  padding: 10px 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  border: 1px solid black;
  border-right: none;
}

.table2Item {
  height: 50px;
  margin: 0;
  width: 16%;
  text-align: center;
  padding: 10px 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #21252944;
  border-right: none;
  border-top: none;
}

.table2ItemEnd {
  border-right: 1px solid black;
}

.table1ItemEnd {
  border-right: 1px solid black;
  display: flex;
  text-align: center;
}

.souHeader {
  background: #ec1d249c;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.souHeader-item {
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 0 40px;
  margin: 0;
}

.souHeader-item:hover {
  color: rgba(0, 0, 0, 0.74);
  font-weight: 500;
}

.Tunisianhoods {
  font-size: 28px;
  margin: 0;
  font-weight: 900;
  color: #212529;
}

.footer {
  position: absolute;
  width: 100%;
  height: 80px;
  background: #212529;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-items {
  color: white;
  padding: 2px 20px;
  cursor: pointer;
}

.Terms-Privacy {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-small {
  width: 80px;
}

.Tunisianhoods1 {
  padding-left: 20px;
  color: white;
}

.valuesinputs {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.applicationinputs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 40%;
  flex-direction: column;
}

.block-wari {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  flex-direction: column;
}

.app-values {
  width: 450px;
  margin: 10px 0;
  height: 50px;
  padding: 10px 20px;
  padding-left: 40px;
}

.headerParts {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menuHeader {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.intro {
  background-image: url("./resourses/into.gif");
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position-y: -100px;
  min-height: 950px;
}

.menuheader-item {
  font-size: 20px;
  list-style-type: none;
  margin: 0 10px;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
}

.header-d {
  height: 100px;
}

.header-a {
  background: #141519;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  padding: 0 60px;
  display: flex;
  height: 100px;
  position: fixed;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 100px;
}

.headerParts2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  background: url("./resourses/bg-logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 130px;
  margin-left: -120px;
  position: relative;
}

.exuser {
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.headerParts3 {
  display: flex;
  justify-content: space-around;
}

.signinbn {
  transition: all ease 0.5s;
  cursor: pointer;
}

.signinbn:hover {
  color: rgb(255, 224, 224);
}

.btnlogin {
  cursor: pointer;
  border: #43444D 1px solid;
  background: #43444D;
  padding: 5px 20px;
  color: white;
}

.btnlogin:hover {
  transition: all ease 0.5s;
  border: #34353b 1px solid;
  background: #34353b;
}

.introtitle {
  font-size: 68px;
  Font-weight: 800;
  Line-height: 67.2px;
  color: rgb(255, 255, 255);
  margin-bottom: 50px;
}

.introdes {
  Font-size: 26px;
  Font-weight: 400;
  width: 800px;
  text-align: center;
  Line-height: 40px;
  color: rgb(217, 217, 217)
}

.btnintro2:hover {
  background: rgb(228, 56, 78);
}

.btnintro2 {
  font-family: 'Roboto', sans-serif;
  background: rgb(245, 33, 61);
  border-radius: 2px;
  border: 1px solid rgb(228, 56, 78);
  margin: 0 10px;
  padding: 0px 40px;
  Font-size: 14px;
  Font-weight: 700;
  Line-height: 52px;
  color: rgb(255, 255, 255)
}

.btnintro3 {
  font-family: 'Roboto', sans-serif;
  background: rgba(255, 255, 255, 0.061);
  border: 1px solid rgba(255, 255, 255, 0.061);
  margin: 0 10px;
  padding: 0px 40px;
  Font-size: 14px;
  border-radius: 2px;
  text-decoration: none;
  Font-weight: 700;
  Line-height: 52px;
  color: rgb(255, 255, 255)
}

.btnintro3:hover {
  background: rgba(255, 255, 255, 0.698);
}

.partee1 {
  background: #141519;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0 120px 0;
  align-items: center;
}

#logopartie2 {
  width: 200px;
}

.qan {
  font-family: 'Roboto', sans-serif;
  Font-size: 40px;
  Font-weight: 800;
  Line-height: 72px;
  color: rgb(255, 255, 255)
}

.partee2des {
  font-family: 'Roboto', sans-serif;
  Font-size: 18px;
  text-align: center;
  font-weight: 400;
  line-height: 28.8px;
  width: 800px;
  color: rgb(163, 169, 189)
}

.desss {
  display: flex;
  justify-content: space-around;
}

.bardes {
  width: 70px;
  height: 5px;
  border-radius: 5px;
  background-color: #E4384E;
}

.activityes {
  margin: 10px 20px;
}

.desss-aa {
  Font-size: 20px;
  Font-weight: 800;
  font-style: italic;
  Line-height: 40px;
  color: rgb(255, 255, 255)
}

.para-aa {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  Line-height: 27.2px;
  color: rgb(124, 128, 143);
  width: 400px;
}

.parts-to-join {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#join {
  background: #1a1c21;
  padding: 80px 0 40px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.parts33 {
  margin: 60px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#join-title {
  font-family: 'Roboto', sans-serif;
  Font-size: 40px;
  Font-weight: 800;
  Line-height: 72px;
  color: rgb(255, 255, 255)
}

.tit-join {
  Font-size: 20px;
  Font-weight: 800;
  font-style: italic;
  Line-height: 40px;
  color: rgb(255, 255, 255)
}

.icod {
  background: #141519;
  color: #CC1E34;
  padding: 20px;
  Font-size: 32px;
  Font-weight: 900;
  Line-height: 32px;
  border-radius: 10px;
  width: 70px;
}

.spes {
  cursor: pointer;
  color: #CC1E34;
}

.fls {
  color: #141519;
  font-size: 50px;
  text-shadow: 2px 2px 0 #202128, 2px -2px 0 #202128, -2px 2px 0 #202128, -2px -2px 0 #202128, 2px 0px 0 #202128, 0px 2px 0 #202128, -2px 0px 0 #202128, 0px -2px 0 #202128, 2px 1px 0px rgba(32, 33, 40, 0);
}

.des-joins {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  Line-height: 27.2px;
  color: rgb(124, 128, 143);
  width: 400px;
}

#numbers {
  background: #141519;
  display: flex;
  padding: 30px 0 60px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.numberstitel {
  font-family: 'Roboto', sans-serif;
  Font-size: 40px;
  Font-weight: 800;
  Line-height: 56px;
  color: rgb(255, 255, 255)
}

.stitle-numbers {
  font-family: 'Roboto', sans-serif;
  Font-size: 20px;
  Font-weight: 800;
  Line-height: 24px;
  color: rgb(255, 255, 255)
}

.ddz {
  color: rgb(84, 83, 178)
}

.numbersparts {
  font-family: 'Roboto', sans-serif;
  Font-size: 56px;
  Font-weight: 800;
  Line-height: 78.4px;
  color: rgb(204, 30, 52)
}

.numbersparts2 {
  font-family: 'Roboto', sans-serif;
  Font-size: 20px;
  Font-weight: 800;
  Line-height: 30px;
  color: rgb(255, 255, 255)
}

.allnum {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.numbersall {
  margin: 40px 0 0 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.games {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rulesplay {
  display: flex;
  justify-content: center;
}

.partsrulesgames {
  cursor: pointer;
  border: #e4e9ff11 solid 1px;
  background: #1a1c21;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
  margin: 30px 20px;
}

.partsrulesgames:hover {
  background: #15181f;
}

.fet {
  color: #CC1E34;
  padding: 20px 0;
  Font-size: 42px;
  Font-weight: 900;
  Line-height: 32px;
  border-radius: 10px;
  width: 70px;
}

.text-ss {
  text-align: left;
  width: 360px;
}

.fivem {
  background: url("./resourses/fivem.jpg");
  background-size: 100%;
  width: 340px;
  height: 177px;
  position: relative;
}

.button_style_greey {
  position: absolute;
  background: rgba(255, 255, 255, 0.397);
  color: #141519;
  text-decoration: none;
  top: 35%;
  left: 20%;
}

.button_style_greey:hover {
  color: #9b2020;
  text-decoration: none;
}

.footer-a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  background: #1A1C21;
  color: white;
}

.dddz {
  font-size: 30px;
  margin: 0 10px;
}

.dddzall {
  text-decoration: none;
  color: white;
}

.dddzall:hover {
  text-decoration: none;
  color: #E4384E;
}

.rp {
  font-family: 'Roboto', sans-serif;
  Font-size: 13px;
  Font-weight: 400;
  Line-height: 18px;
  color: rgb(255, 255, 255)
}

.menuheader-item-menu {
  position: absolute;
  transition: all ease 1s;
  display: none;
  background: #141519;
  color: white;
  left: -20px;
  width: 250px;
  padding: 30px 20px 20px 20px;
}

.menuheader-item-drop {
  transition: all ease 1s;
  position: relative;
}

.menuheader-item-drop:hover .menuheader-item-menu {
  display: block;
  transition: all ease 1s;
}

.menuheader-item-item {
  font-size: 18px;
  padding: 5px 0;
  list-style-type: none;
  border-top: #cc1e3518 solid 2px;
}

.menuheader-item-item:hover {
  color: rgba(255, 255, 255, 0.692);
}

.fdg {
  border: none;
}

.menuheader-item-menu2 {
  width: 350px;
}

.rulesaal {
  background: #141519;
}

.header-rules {
  box-shadow: 2px 2px 0 #202128, 2px -2px 0 #202128, -2px 2px 0 #202128, -2px -2px 0 #202128, 2px 0px 0 #202128, 0px 2px 0 #202128, -2px 0px 0 #202128, 0px -2px 0 #202128, 2px 1px 0px rgba(32, 33, 40, 0);
}

.rulestempleparts {
  display: flex;
  margin: 50px 15%;
  border-radius: 5px;
  border: #393871 2px solid;
}

.partie2-temple {
  background: rgb(26, 28, 33);
  width: 80%;
  padding: 10px 20px;
}

.partie1-temple {
  background: #141519;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20%;
}
.main-staff{
  min-height: 90vh;
}
.adminphoto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.admin-name {
  Font-size: 20px;
  Font-weight: 500;
  Line-height: 24px;
  color: white;
}

.adminrank {
  Font-size: 13px;
  Font-weight: 400;
  Line-height: 18px;
  color: rgb(217, 217, 217);
}

.admin-ranka {
  Font-size: 18px;
  margin: 10px 0;
  Font-weight: 700;
  Line-height: 18px;
  color: rgb(220, 20, 60);
}

.postedat {
  Font-size: 10px;
  Font-weight: 400;
  color: rgb(217, 217, 217);
  Line-height: 20px;
}

.rule-title {
  Font-size: 17px;
  Font-weight: 800;
  font-style: italic;
  color: white;
  Line-height: 22.4px;
}

.rules-onebyone {
  Font-size: 14px;
  Font-weight: 400;
  font-style: italic;
  color: white;
  Line-height: 22.4px;
  margin: 10px 0;
}



.pages {
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.page {
  border: 2px solid white;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.pagesall {
  display: flex;
  justify-content: center;
}

.rules-category {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 60%;
  margin: 2vh 15%;
  align-content: flex-start;
  align-items: center;
}

.category-aa {
 
padding:10px 20px;
cursor: pointer;
  margin:10px 10px;
  background: #15181f;
  transition: all ease 1s;
  color: white;
}
.category-aa:hover{
  background: #881414;
}
.eranl{

  padding: 5px 7px;
  background: #881414;
}
.main-staff{
  background: #141519;
}
.owners{
  width: 70;
  border: 2px solid rgba(255, 255, 255, 0.13);
  border-radius: 5px;
  margin: 20px 15%;
  background: #1A1C21;
}
.ownerrr1{
  background-color: #713838;
  padding: 10px ;
  width: 97%;
  border-radius: 2px;
  margin: 10px 1.5%;
  font-size: 16px;
  font-style: italic;
  color: white;
}
.ownerlist{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ownername{
  text-align: center;
  color: white;
  font-size: 16px;
  margin: 2px 0;
}
.owner-img{
  width: 100px ;
  height: 100px;
  border-radius: 50%;
}
.ownerlist{
  width: 97%;
  margin: 10px 1.5%;
}
.ownerr{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-right :10px;
  width: 300px;
  padding: 10px 30px;
  background: #17181C;
}
.edss{
  width: 100%;
  text-align: center;
  color: white;
  margin: 0;
  padding: 10px;
}
.title-staff{
  Font-size: 28px;

Font-weight: 700;
padding: 30px 0;
margin: 0 15%;
Line-height: 33.6px;

color: rgb(255, 255, 255);
}