.loginForm {
  display: flex;
  justify-content: flex-start;
}

body {
  padding: 0;
  margin: 0;
}

.loginIntroImg {
  height: 100vh;
  width: 35vw;
}

.loginFormIntro {
  background: url(./resourses/bg.png);
  background-size: 130%;
  background-repeat: no-repeat;
  width: 65vw;
  height: 100vh;
}

.emailinput{
padding:5px 10px;
width: 300px;
border-radius: 5px;
outline: none;
border: 2px solid black;
}
.loginFormIntro{
  display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.logoLogin{
background: #EC1D23;
color: white;
padding: 0px 10px;
font-weight: 900;
transition: all ease 0.5s;
}
.hoods{
  font-weight: 500;
}
.logoLogin:hover{
  color: rgb(255, 225, 225);
  cursor: pointer;
}
.EmailpasswordInput{
  width: 280px;
  margin: 10px 0;
  height: 40px;

  padding: 10px 20px;
  padding-left: 40px;
}
.formLog{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loginTitle{font-family: Impact, Charcoal, sans-serif;
  font-size: 30px;
  letter-spacing: 6px;
  word-spacing: 6px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;}
  .EmailpasswordInputContainer{
    position: relative;
    width: 280px;
  }
  .nameEmailpasswordInputContainer{
    position: absolute;
    left: 0;
    padding: 8px;
    top:10px;
    color: white;
    background: black;

  }
  .forgetPassword{
    color: rgba(69, 69, 255, 0.575);
    transition: ease all 500ms;
    cursor: pointer;
  }
  .forgetPassword:hover{
    color: rgba(0, 0, 0, 0.808);
  }
  .loginButton{
padding: 5px 50px;
border-radius: 0;
border: rgba(0, 0, 0, 0.219) 1px solid;
background: #EC1D23;
outline: none;
  }
  .signupFromLogin{
    color: rgb(0, 0, 0);
  }
  .signupFromLogin:hover{
    color: black;
  }
  .agreeRegister{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
  }
  .agreeRegisterText{
    margin: 0 0 0 5px;
  }
  .agreeRegisterInput{
   padding: 10px;
  }
  